.tab {
    display: none;
}

.active-tab {
    display: block;
    z-index: 99;
}

.active-tab> {
    display: block;
    z-index: 99;
}

.active-button {
    background: rgb(153 246 228);
    color: black;
}