.tab {
    display: none;
}

.active-tab,
.active-button {
    transition: transform 0.2s, background 0.2s, color 0.2s;
}

.active-tab {
    display: block;
    z-index: 99;
}

.active-button {
    background: rgb(153 246 228);
    color: black;
}