body {
  overflow-x: hidden;
  background-color: #4f4040;
}

.App {
  text-align: center;
}

.App-container {
  width: calc(100% - 200px);
  min-height: 100%;
}

@media not all and (min-width: 1024px) {
  .App-container {
    width: 100%;
    margin-top: 60px;
  }
}